.Pokedex {
  text-align: center;
}

.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Pokedex-title {
  color: #919191;
  margin: 40px 0;
}

.Pokedex-winner {
  color: #8f34eb;
  font-weight: 600;
}